<div>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><i class="bi bi-laptop-fill"></i></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" href="#about-me">About Me</a>
          <a class="nav-link" href="#skills">Skills</a>
          <a class="nav-link" href="#projects">Projects</a>
        </div>
      </div>
    </div>
  </nav>

  <div class="front-page mb-3" id="home">
    <div class="container">
        <div class="row justify-content-end">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-right"></div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-right">
            <div class="front-page-content1">
            <span class="title">Hi, <span class="im">I'm</span> <span class="underline">Siddu Hadapad</span></span><br>
            </div>
            <div class="front-page-content2">
            <h3 class="summary quotes">A back-end web developer</h3><h3 class="summary quotes">A front-end web developer</h3><h3 class="summary quotes">A software developer</h3><br><br>
            </div>
            <div class="front-page-content3">
            <a href="#about-me" class="btn btn-primary">
                <div class="white-button">
                READ MORE
                </div>
            </a>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        </div>
        </div>
      </div>
    </div>

  <div class="about-me-strip" id="about-me">
    <div class="container reveal">
      <h3 class="title text-center">
        Welcome to my portfolio!
      </h3>
      <div class="sub-title text-center">
        Here's a little something about myself.
      </div>
    </div>
  </div>

  
  <div class="about-me mb-5">
    <div class="container reveal">
      <div class="row">
        <div class="col-xs-1 col-sm-3 col-md-3 col-lg-3">
        </div>
        <div class="col-xs-10 col-sm-6 col-md-6 col-lg-6">
          Agile software engineer with 6 years background in creating and executing software solutions to enhance business productivity.
          Strong and passionate team player who can thrive with limited supervision. Knowledgeable in both backend and front-end development.
          Proud team player focused on achieving project objectives with speed and accuracy.<br>

          While I really enjoy working by myself, nothing gives me more pleasure than working as a part of a team which I believe is when my skills are utilised to their maximum and get to connect with other people.<br><br>

          Outside my life as a developer, I love to spend my time with my family, friends.<br><br>

          Please feel free to contact me using <a href="mailto:siddushar@gmail.com">email</a>.
        </div>
        <div class="col-xs-1 col-sm-3 col-md-3 col-lg-3">
        </div>
      </div>
    </div>
  </div>

  <div class="experience-skills mb-3 pt-3 pb-3" id="skills">
  <div class="container">
    <div class="row is-flex">
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 text-center">
        <div class="box">
          <h4><i class="fa fa-list" aria-hidden="true"></i>&nbsp;Experience</h4>
          <div class="line"></div>
          Jan 2020 
          <br><strong>Cerner Corporation</strong>
          <br><span class="">Software Engineer III</span>
          <br>
          <br> Jun 2018 - Jan 2020
          <br><strong>Société Générale Global solutions limited</strong>
          <br><span class="">Software Engineer</span>
          <br>
          <br> Jan 2015 - Jun 2018
          <br><strong>Mahaswami software Private limited</strong>
          <br><span class="">Programmer Analyst</span>

        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 text-center">
        <div class="box">
          <h4><i class="fa fa-wrench" aria-hidden="true"></i>&nbsp;Skills</h4>
          <div class="line"></div>
          <h1>
            <div class="row skill-icons">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 text-center">
               <h3><span class="badge bg-secondary">Ruby on Rails</span></h3>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-6 text-center">
              <h3><span class="badge bg-secondary">Angular</span></h3>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 text-center">
                <h3><span class="badge bg-secondary">Stimulus JS</span></h3>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 text-center">
              <h3><span class="badge bg-secondary">Javascript</span></h3>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 text-center">
              <h3><span class="badge bg-secondary">Jqeury</span></h3>
            </div>
            
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 text-center">
              <h3><span class="badge bg-secondary">HTML</span></h3>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 text-center">
                <h3><span class="badge bg-secondary">CSS & SCSS</span></h3>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 text-center">
                <h3><span class="badge bg-secondary">Docker & Jenkins</span></h3>
            </div>
            
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 text-center">
                <h3><span class="badge bg-secondary">Git </span></h3>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 text-center">
                <h3><span class="badge bg-secondary">Bootstrap</span></h3>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 text-center">
                <h3><span class="badge bg-secondary">SQL/Postgres</span></h3>
            </div>

            </div>
          </h1>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 text-center">
      <div class="box">
        <h4><i class="fa fa-graduation-cap" aria-hidden="true"></i>&nbsp;Education</h4>
        <div class="line"></div>
        2010 - 2014
        <br><strong>Visvesvaraya Technological University</strong>
        <br>Bachelor of Engieering (Computer Science)
       
      </div>
     </div>
    </div>
  </div>
</div>

<div class="portfolio text-center mb-0"  id="projects">
<div class="container label">
      <h1>Projects<h1>
    </div>
    <div class="container">
      <div class="row" style="flex-direction: column;">
        <div class="row col-xs-12">
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 mb-2 d-flex align-items-center justify-content-center" id="project-1">
            <div class="card" style="width: 18rem;">
            <img src="assets/infra.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Closedstack</h5>
                <p class="card-text">Closed-Stack is Cerner's private Infrastructure-as-a-Service platform.</p>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#project1">
                  READ MORE
                </button>
            </div>
            </div>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 mb-2 d-flex align-items-center justify-content-center" id="project-1">
          <div class="card" style="width: 18rem;">
          <img src="assets/uam.png" class="card-img-top" alt="...">
          <div class="card-body">
              <h5 class="card-title">UAM</h5>
              <p class="card-text">GEFA bank's Internal Application  to manage internal & external users.</p>
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#project2">
              READ MORE
            </button>
          </div>
          </div>
        </div>

          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 mb-2 d-flex align-items-center justify-content-center" id="project-3">
            <div class="card" style="width: 18rem;">
            <img src="assets/fc.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Tankkarte</h5>
                <p class="card-text">The GEFA / DKV fuel card also offers analyzes of fuel consumption, useful online services in Europe.</p>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#project3">
                READ MORE
                </button>
            </div>
            </div>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 mb-2 d-flex align-items-center justify-content-center" id="project-4">
          <div class="card" style="width: 18rem;">
          <img src="assets/vicc.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">VICC</h5>
            <p class="card-text">VICC is next generation Platform for Security, Safety and Operational Intelligence solutions for the Enterprise.</p>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#project4">
            READ MORE
            </button>
        </div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 mb-2 d-flex align-items-center justify-content-center" id="project-5">
          <div class="card" style="width: 18rem;">
          <img src="assets/relimu.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Relimu</h5>
            <p class="card-text">RELIMU is an eco system for thriving young artists to grow their brand.</p>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#project5">
                READ MORE
            </button>
         </div>
          </div>
        </div>
          


          </div>
        </div>
        
      </div>
    </div>


    <div class="contact-me" id="contact-me">
    <div class="container">
      <div class="row footer">
        <div class="hiddex-xs col-sm-2 col-md-3 col-lg-3"></div>
        <div class="col-xs-12 col-sm-8 col-md-6 col-lg-6 text-center">
        <a href="https://www.linkedin.com/in/siddalingappa-h-a-d-a-p-a-d-236952a0/" target="_blank"><i class="bi bi-github bi-2x"></i></i></a>&nbsp;
        <a href="https://www.linkedin.com/in/shouhei-yamauchi/" target="_blank"><i class="bi bi-linkedin" abi-2x"></i></a>&nbsp;
        <br>
        <span class="copyright">© 2021 siddu hadapad</span>
        <div class="hiddex-xs col-sm-2 col-md-3 col-lg-3"></div>
      </div>
    </div>
  </div>


  </div>
  

 
  <!-- Modal -->
  <div class="modal fade" id="project1" tabindex="-1" aria-labelledby="projectLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="projectLabel">Closedstack</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
        <p> Closed-Stack is Cerner's private Infrastructure-as-a-Service platform. It provides a suite of user interfaces and web services to allow users to help associates programmatically request and interact with compute, network, and storage resources within Cerner's datacentres.</p><br />
        <b>Responsibilities:</b>
            <ul>
                <li>Worked closely with stake holders, development teams and infrastructure enginneer to automate the infrastructure.</li>
                <li>Mentored team of 4 developer in the team.</li>
                <li>Created Custom gems to handle automation bussiness logic.</li>
                <li>Written Micro services using Ruby on Rails.</li>
                <li>Created many POCs to find unknowns.</li>
                <li>Expericed in identifying bottlenecks and debugging in the Production.</li>
            </ul>
        </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
  </div>


  
  <!-- Modal -->
  <div class="modal fade" id="project2" tabindex="-1" aria-labelledby="projectLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="projectLabel">User Access Management</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
        <p>Internal Application of GEFA bank(Société Générale). 
        This application maintains all the users and their credentials and roles. This is one source of truth for
         all other Internal application to authenticate and authorize.</p><br />
        <b>Responsibilities:</b>
            <ul>
                <li>Worked closely with other business analysts, other development teams to provide best services for the consumers.</li>
                <li>Implemented RESTful API's using ruby on rails.</li>
                <li>Supported the application for any user related or technical queries.</li>
                <li>Written Micro services using Ruby on Rails.</li>
                <li>Built responsive ui using front-end tools.</li>
                <li>Deployed the application in prodution, handled all types of defect and user concerns.</li>
            </ul>
        </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="project3" tabindex="-1" aria-labelledby="projectLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="projectLabel">Tankkarte</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
        <p> The GEFA / DKV fuel card also offers analyzes of fuel consumption, useful online services and the highest security standard of all card systems in Europe. A personal contact person is always available to answer all of your questions about your billing and the optimal or most cost-effective on-the-go supply of your vehicles.</p><br />
        <b>Responsibilities:</b>
            <ul>
                <li>Built responsive UI using angular and bootstrap.</li>
                <li>Written the unit tests for all features.</li>
                <li>Integrated Rest API's Using Angular framework.</li>
                <li>Worked on agile environment.</li>
            </ul>
        </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="project4" tabindex="-1" aria-labelledby="projectLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="projectLabel">VICC</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
        <p>Visual Intelligence Control Center is the next generation Platform for Security, Safety and Operational Intelligence solutions for the Enterprise. The Visual Intelligence Control Center aka VICC was designed to harness and visualize Intelligence for situational awareness and management.</p><br />
        <b>Responsibilities:</b>
            <ul>
                <li>Wrote highly maintainable, solid code for software system, forming core framework.</li>
                <li>Integrated Google Map API in Ruby on Rails web application.</li>
                <li>Worked on both Web and mobile applications</li>
                <li>Built responsive UI for both mobile and desktops.</li>
                <li>Involved in requirements, analysis, story slicing and all scrum meetings.</li>
                <li>Actively involved code reviews and mentoring new joinees</li>
            </ul>
        </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="project5" tabindex="-1" aria-labelledby="projectLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="projectLabel">Relimu</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
        <p> Relimu is a digital interface that breaks down the barrier between the stage and audience.</p>
        <b>Responsibilities:</b>
            <ul>
                <li>Implemented web application using ruby on rails and intigated Extjs in the web application.</li>
                <li>Mentored team of 4 developer in the team.</li>
                <li>Implemented Mobile application using Angular(Ionic) framework.</li>
                <li>Integrated Spotify & Google maps in the mobile application.</li>
                <li>Invloved in all end to end development activities.</li>
            </ul>
        </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
  </div>



</div>

<script type="text/javascript">
  (function() {

    var quotes = $(".quotes");
    var quoteIndex = -1;

    function showNextQuote() {
        ++quoteIndex;
        quotes.eq(quoteIndex % quotes.length)
            .fadeIn(1500)
            .delay(1500)
            .fadeOut(1500, showNextQuote);
    }

    showNextQuote();

  })();
</script>